<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body>

<input	type='button' onclick="location.href='uploadC.php'" value='上傳頁'></input>
<input type='button' onclick="location.href='albumC.php'" value='瀏覽頁'></input>
<form action="delimgC.php"  method="post" name="view1" id="view1">
<table border='1'>
<tr>
<th>時間</th>
<th>圖片名稱</th>
<th>圖片</th>
<th>上傳者</th>
<th>刪除</th>
</tr>

 {% for see in seeall %}
    <tr>
    <td>{{ see.time }}</td>
    <td><input type='text' name='imgname_{{ see.imgno }}' id='imgname_{{ see.imgno }}' 
    value='{{ see.imgname }}'>
    <input type='button' 
     onclick='location.href="editalbum2C.php?imgno={{ see.imgno }}&imgname="+view1.imgname_{{ see.imgno }}.value' 
     value='修改' /></td>
    <td><img src='../../img/{{ see.tmpname }}' ></td>
    <td> {{ see.username }}</td>
    <td> <input type='checkbox' name='imgno[]' id='imgno[]' value='{{ see.imgno }}'></td>
    </tr>
{% endfor %}
 
 
</table>
<input type="submit" name="submit" value="確認刪除" />
</form>
</body>
</html>