<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>

<body>

<input	type='button' onclick="location.href='upload'" value='上傳頁'></input>
<input type='button' onclick="location.href='edit'" value='編輯頁'></input>
<table border='1'>
<tr>
<th>時間</th>
<th>圖片名稱</th>
<th>圖片</th>
<th>上傳者</th>
</tr>
{% for see in seeall %}
    <tr>
    <td>{{ see.time }}</td>
    <td> {{ see.imgname }}</td>
    <td><img src='../../img/{{ see.tmpname }}' ></td>
    <td> {{ see.username }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>
